<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsClient1.Properties.Settings.RestaurantDetailsConnectionString"
            connectionString="Data Source=DESKTOP-75OND6D\EMADSQL;Initial Catalog=RestaurantDetails;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRestaurantWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5050/RestaurantWCFService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestaurantWCFService"
                contract="ServiceReference.IRestaurantWCFService" name="BasicHttpBinding_IRestaurantWCFService" />
        </client>
    </system.serviceModel>
</configuration>